PyQt5=latest
PyQt6=latest
PyQt6-WebEngine
PyYAML=latest
Pygments
QtAwesome=latest
QtPy=latest
python-dotenv=latest
mysql
mysql-connector-python
mysqlclient
numpy
pyasyncore=latest
pysnmp
python-nmap
pyvis
xmltodict